/** value값에 따옴표 삭제  */

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu {
  text-decoration: none;
  padding: 5px 20px;
}

.button {
  width: 150px;
  height: 50px;
  background-color: aqua;
  color: red;
}
.submit {
  width: 200px;
  height: 50px;
  background-color: yellow;
  color: red;
}
.reset {
  width: 250px;
  height: 50px;
  background-color: green;
  color: red;
}

.title {
  color: coral;
}
.title3 {
  background-color: aquamarine;
}
.mybutton {
  background-color: yellow;
}
